/node_modules
/functions/node_modules
/functions/package-lock.json
/functions/npm-debug.log.55208941
/public/hot
/public/storage
/public/assets/js/init.js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.console
.env
.firebaserc
